{
  "parser": "babel-eslint",
  "extends": ["kentcdodds/es6", "kentcdodds/best-practices", "kentcdodds/import", "kentcdodds/webpack"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {
    // these are only here because I did not
    // want to update the entire codebase ¯\_(ツ)_/¯
    "func-names": 0,
    "no-var": 0,
    "func-style": 0,
    "comma-dangle": 0,
    "valid-jsdoc": 0,
    "vars-on-top": 0,
    "complexity": [2, 6],
    "import/default": 0,
    "import/no-unresolved": 0,
    "camelcase": 0,
    // We use the 'import' plugin which allows for cases "flow" awareness.
    "no-duplicate-imports": 0,
    // A .jsx extension is not required for files containing jsx.
    "react/jsx-filename-extension": 0,
    // This rule struggles with flow and class properties.
    "react/sort-comp": 0,
    // We use global requires in various places, e.g. code splitting instances.
    "global-require": 0,
    // Allow spaces between parantheses
    "babel/object-curly-spacing": 0
  },
  "globals": {
    "describe": false,
    "it": false,
    "expect": false
  }
}
